attrs==23.1.0 ; python_full_version == "3.9.17"
certifi==2023.7.22 ; python_full_version == "3.9.17"
click-plugins==1.1.1 ; python_full_version == "3.9.17"
click==8.1.6 ; python_full_version == "3.9.17"
cligj==0.7.2 ; python_full_version == "3.9.17"
colorama==0.4.6 ; python_full_version == "3.9.17" and platform_system == "Windows"
cykhash==2.0.1 ; python_full_version == "3.9.17"
cython==3.0.0 ; python_full_version == "3.9.17"
fiona==1.9.4.post1 ; python_full_version == "3.9.17"
geopandas==0.13.2 ; python_full_version == "3.9.17"
h3==3.7.6 ; python_full_version == "3.9.17"
h3pandas==0.2.4 ; python_full_version == "3.9.17"
importlib-metadata==6.8.0 ; python_full_version == "3.9.17"
jinja2==3.1.2 ; python_full_version == "3.9.17"
markupsafe==2.1.3 ; python_full_version == "3.9.17"
minio==7.1.15 ; python_full_version == "3.9.17"
numpy==1.23.5 ; python_full_version == "3.9.17"
packaging==23.1 ; python_full_version == "3.9.17"
pandas==2.0.3 ; python_full_version == "3.9.17"
pygeos==0.14 ; python_full_version == "3.9.17"
pyproj==3.6.0 ; python_full_version == "3.9.17"
pyrobuf==0.9.3 ; python_full_version == "3.9.17"
pyrosm==0.6.1 ; python_full_version == "3.9.17"
python-dateutil==2.8.2 ; python_full_version == "3.9.17"
python-dotenv==1.0.0 ; python_full_version == "3.9.17"
python-rapidjson==1.10 ; python_full_version == "3.9.17"
pytz==2023.3 ; python_full_version == "3.9.17"
setuptools==68.0.0 ; python_full_version == "3.9.17"
shapely==1.8.5 ; python_full_version == "3.9.17"
six==1.16.0 ; python_full_version == "3.9.17"
typing-extensions==4.7.1 ; python_full_version == "3.9.17"
tzdata==2023.3 ; python_full_version == "3.9.17"
urllib3==2.0.4 ; python_full_version == "3.9.17"
zipp==3.16.2 ; python_full_version == "3.9.17"
